--
-- PostgreSQL database dump
--

-- \restrict 8kWEOMCMoYRR7ahihU9GZtefmKwLqEwaG0zMTjht0zusijKp2aaK4DL52KCVwFq

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.9

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE FUNCTION billenniumpedidos.delete_articulos_empresa(p_empresa_id uuid) RETURNS json
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

DECLARE

  deleted_detalle_count integer;

  deleted_articulos_count integer;

BEGIN

  -- Borrar detalles de proformas asociados a los art├¡culos de esa empresa

  DELETE FROM billenniumpedidos.proforma_detalle

  WHERE articulo_id IN (

    SELECT id FROM billenniumpedidos.articulos WHERE empresa_id = p_empresa_id

  );



  GET DIAGNOSTICS deleted_detalle_count = ROW_COUNT;



  -- Borrar los art├¡culos de la empresa

  DELETE FROM billenniumpedidos.articulos

  WHERE empresa_id = p_empresa_id;



  GET DIAGNOSTICS deleted_articulos_count = ROW_COUNT;



  -- Devolver el resumen en formato JSON

  RETURN json_build_object(

    'success', true,

    'deleted_articulos', deleted_articulos_count,

    'deleted_detalle', deleted_detalle_count,

    'empresa_id', p_empresa_id

  );

END;

$$;


--
-- Name: es_admin(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION billenniumpedidos.es_admin() RETURNS boolean
    LANGUAGE sql SECURITY DEFINER
    AS $$

  SELECT COALESCE(

    (SELECT is_admin FROM vendedores WHERE id = auth.uid()::text),

    false

  );

$$;


--
-- Name: generar_numero_pedido(uuid); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION billenniumpedidos.generar_numero_pedido(p_empresa_id uuid) RETURNS text
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'billenniumpedidos', 'public', 'pg_temp'
    AS $_$
DECLARE
ultimo_numero integer;
nuevo_numero text;
BEGIN
SELECT COALESCE(MAX(CAST(numero AS integer)), 0)
INTO ultimo_numero
FROM pedido_cabecera
WHERE empresa_id = p_empresa_id AND numero ~ '^[0-9]+$';
nuevo_numero := LPAD((ultimo_numero + 1)::text, 6, '0');
RETURN nuevo_numero;
END;
$_$;


--
-- Name: generar_numero_proforma(uuid); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION billenniumpedidos.generar_numero_proforma(p_empresa_id uuid) RETURNS text
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'billenniumpedidos', 'public', 'pg_temp'
    AS $_$
DECLARE
ultimo_numero integer;
nuevo_numero text;
BEGIN
SELECT COALESCE(MAX(CAST(numero AS integer)), 0)
INTO ultimo_numero
FROM proforma_cabecera
WHERE empresa_id = p_empresa_id AND numero ~ '^[0-9]+$';
nuevo_numero := LPAD((ultimo_numero + 1)::text, 6, '0');
RETURN nuevo_numero;
END;
$_$;


--
-- Name: get_my_email(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION billenniumpedidos.get_my_email() RETURNS text
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

BEGIN

  RETURN (SELECT email FROM vendedores WHERE id = auth.uid()::text);

END;

$$;


--
-- Name: get_my_empresa_id(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION billenniumpedidos.get_my_empresa_id() RETURNS uuid
    LANGUAGE plpgsql STABLE SECURITY DEFINER
    SET search_path TO 'billenniumpedidos', 'public'
    AS $$

BEGIN

  RETURN (SELECT empresa_id FROM vendedores WHERE id = auth.uid()::text);

END;

$$;


--
-- Name: ic_insert_factura(integer, character varying, timestamp without time zone, integer, bigint, text, numeric, numeric, numeric, character varying, character varying, text, jsonb); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION billenniumpedidos.ic_insert_factura(p_cfac_numero integer, p_cfac_tipo character varying, p_cfac_fecfact timestamp without time zone, p_cfac_bodega integer, p_cfac_codigo bigint, p_cfac_cliente text, p_cfac_total numeric, p_cfac_dcto numeric, p_cfac_iva numeric, p_cfac_numfact character varying, p_cfac_transp character varying, p_cfac_comenta text, p_detalle jsonb) RETURNS void
    LANGUAGE plpgsql
    AS $$

DECLARE

    v_ic_id integer;

    v_item  jsonb;

BEGIN

    -- limpiar cabecera+detalle previos de esa factura

    DELETE FROM billenniumpedidos."IC_FacturaDet"

    WHERE "CFac_Numero" = p_cfac_numero

      AND "CFac_Tipo"   = p_cfac_tipo;



    DELETE FROM billenniumpedidos."IC_FacturaCab"

    WHERE "CFac_Numero" = p_cfac_numero

      AND "CFac_Tipo"   = p_cfac_tipo

      AND "CFac_Codigo" = p_cfac_codigo;



    -- insertar cabecera

    INSERT INTO billenniumpedidos."IC_FacturaCab" (

        "CFac_Numero","CFac_Tipo","CFac_Fecfact","CFac_Bodega",

        "CFac_Codigo","CFac_Cliente",

        "CFac_Total","CFac_Dcto","CFac_Iva",

        "CFac_NumFact","CFac_Transporte","Cfac_Comenta"

    )

    VALUES (

        p_cfac_numero,p_cfac_tipo,p_cfac_fecfact,p_cfac_bodega,

        p_cfac_codigo,p_cfac_cliente,

        p_cfac_total,p_cfac_dcto,p_cfac_iva,

        p_cfac_numfact,p_cfac_transp,p_cfac_comenta

    )

    RETURNING "IC_Id" INTO v_ic_id;



    -- insertar detalle desde el JSON

    FOR v_item IN SELECT jsonb_array_elements(p_detalle)

    LOOP

        INSERT INTO billenniumpedidos."IC_FacturaDet"(

            "IC_Id",

            "CFac_Numero","CFac_Tipo","DFac_Codigo",

            "DFac_Fecha","DFac_Bodega",

            "DFac_CodItem","DFac_Cantidad",

            "DFac_Precio","DFac_Costo",

            "DFac_Total","DFac_Iva"

        )

        VALUES (

            v_ic_id,

            p_cfac_numero,p_cfac_tipo,

            (v_item->>'DFac_Codigo')::integer,

            (v_item->>'DFac_Fecha')::timestamp,

            (v_item->>'DFac_Bodega')::integer,

            v_item->>'DFac_CodItem',

            (v_item->>'DFac_Cantidad')::numeric,

            (v_item->>'DFac_Precio')::numeric,

            (v_item->>'DFac_Costo')::numeric,

            (v_item->>'DFac_Total')::numeric,

            (v_item->>'DFac_Iva')::numeric

        );

    END LOOP;

END;

$$;


--
-- Name: is_admin(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION billenniumpedidos.is_admin() RETURNS boolean
    LANGUAGE plpgsql STABLE SECURITY DEFINER
    SET search_path TO 'billenniumpedidos', 'public'
    AS $$

BEGIN

  RETURN COALESCE((SELECT is_admin FROM vendedores WHERE id = auth.uid()::text), false);

END;

$$;


--
-- Name: is_office(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION billenniumpedidos.is_office() RETURNS boolean
    LANGUAGE plpgsql STABLE SECURITY DEFINER
    SET search_path TO 'billenniumpedidos', 'public'
    AS $$

BEGIN

  RETURN COALESCE((SELECT is_office FROM vendedores WHERE id = auth.uid()::text), false);

END;

$$;


--
-- Name: limpiar_politicas(text); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION billenniumpedidos.limpiar_politicas(p_tabla text) RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

DECLARE

    pol RECORD;

BEGIN

    FOR pol IN (SELECT policyname FROM pg_policies WHERE tablename = p_tabla AND schemaname = 'billenniumpedidos') LOOP

        EXECUTE format('DROP POLICY IF EXISTS %I ON %I', pol.policyname, p_tabla);

    END LOOP;

END;

$$;


--
-- Name: prevent_admin_modification(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION billenniumpedidos.prevent_admin_modification() RETURNS trigger
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'billenniumpedidos', 'public', 'pg_temp'
    AS $$
BEGIN
IF OLD.is_admin = true AND NEW.is_admin = false THEN
RAISE EXCEPTION 'No se puede quitar el rol de administrador';
END IF;
RETURN NEW;
END;
$$;


--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION billenniumpedidos.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'billenniumpedidos', 'public', 'pg_temp'
    AS $$
BEGIN
NEW.updated_at = now();
RETURN NEW;
END;
$$;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: articulos; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE billenniumpedidos.articulos (
    id text NOT NULL,
    descripcion text NOT NULL,
    precio numeric(18,2) DEFAULT 0,
    costo numeric(18,2) DEFAULT 0,
    stock numeric(18,2) DEFAULT 0,
    activo boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    empresa_id uuid NOT NULL,
    tasa_iva numeric DEFAULT '0'::numeric
);


--
-- Name: chat_messages; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE billenniumpedidos.chat_messages (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    room_id uuid NOT NULL,
    sender_id text NOT NULL,
    content text NOT NULL,
    is_read boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: chat_rooms; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE billenniumpedidos.chat_rooms (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    empresa_id uuid NOT NULL,
    vendedor_id text NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: clientes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE billenniumpedidos.clientes (
    ruc character varying(13) NOT NULL,
    nombres_completos text NOT NULL,
    correo text,
    telefono character varying(20),
    activo boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    nombre_negocio text,
    empresa_id uuid
);


--
-- Name: empresas; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE billenniumpedidos.empresas (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    ruc character varying(13) NOT NULL,
    nombre_comercial text NOT NULL,
    representante_legal text NOT NULL,
    direccion text NOT NULL,
    telefonos text NOT NULL,
    correos text NOT NULL,
    activo boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    logo_url text,
    habilitar_proformas boolean DEFAULT true,
    habilitar_pedidos boolean DEFAULT true
);


--
-- Name: ic_facturacab; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE billenniumpedidos.ic_facturacab (
    ic_id integer NOT NULL,
    cfac_numero integer NOT NULL,
    cfac_tipo character varying(2) NOT NULL,
    cfac_fecfact timestamp without time zone NOT NULL,
    cfac_bodega integer NOT NULL,
    cfac_codigo bigint NOT NULL,
    cfac_cliente text,
    cfac_total numeric(18,4),
    cfac_dcto numeric(18,4),
    cfac_iva numeric(18,4),
    cfac_numfact character varying(50),
    cfac_transporte character varying(50),
    cfac_comenta text,
    cfac_autoriza character varying(50),
    estado character varying(20) DEFAULT 'PENDIENTE'::character varying NOT NULL,
    fechacreacion timestamp without time zone DEFAULT now() NOT NULL,
    fechaprocesado timestamp without time zone
);


--
-- Name: ic_facturacab_ic_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE billenniumpedidos.ic_facturacab ALTER COLUMN ic_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME billenniumpedidos.ic_facturacab_ic_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ic_facturadet; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE billenniumpedidos.ic_facturadet (
    icdet_id integer NOT NULL,
    ic_id integer NOT NULL,
    cfac_numero integer NOT NULL,
    cfac_tipo character varying(2) NOT NULL,
    dfac_codigo integer NOT NULL,
    dfac_fecha timestamp without time zone NOT NULL,
    dfac_bodega integer NOT NULL,
    dfac_coditem character varying(50) NOT NULL,
    dfac_cantidad numeric(18,4) NOT NULL,
    dfac_precio numeric(18,4) NOT NULL,
    dfac_costo numeric(18,4),
    dfac_total numeric(18,4),
    dfac_iva numeric(18,4),
    fechacreacion timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: ic_facturadet_icdet_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE billenniumpedidos.ic_facturadet ALTER COLUMN icdet_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME billenniumpedidos.ic_facturadet_icdet_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pedido_cabecera; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE billenniumpedidos.pedido_cabecera (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    numero text,
    ruc_cliente text NOT NULL,
    nombre_cliente text NOT NULL,
    vendedor_id text,
    subtotal numeric DEFAULT 0,
    total numeric DEFAULT 0,
    estado text DEFAULT 'Pendiente'::text,
    sincronizada boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    cliente_ruc character varying,
    forma_pago text,
    observaciones text,
    fecha_procesado timestamp with time zone,
    impuesto numeric DEFAULT 0,
    empresa_id uuid,
    fecha_autorizacion timestamp with time zone,
    autorizada_por text,
    codven_erp smallint,
    numero_factura text
);


--
-- Name: pedido_detalle; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE billenniumpedidos.pedido_detalle (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    pedido_id uuid,
    articulo_id text NOT NULL,
    descripcion text NOT NULL,
    cantidad numeric NOT NULL,
    precio numeric NOT NULL,
    costo numeric NOT NULL,
    subtotal numeric NOT NULL,
    utilidad_porcentaje numeric DEFAULT 0,
    created_at timestamp with time zone DEFAULT now(),
    empresa_id uuid NOT NULL,
    tasa_iva numeric
);


--
-- Name: proforma_cabecera; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE billenniumpedidos.proforma_cabecera (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    numero text,
    ruc_cliente text NOT NULL,
    nombre_cliente text NOT NULL,
    vendedor_id text,
    subtotal numeric DEFAULT 0,
    total numeric DEFAULT 0,
    estado text DEFAULT 'PENDIENTE'::text,
    sincronizada boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    cliente_ruc character varying(13),
    forma_pago text,
    observaciones text,
    fecha_procesado timestamp with time zone,
    impuesto numeric DEFAULT 0,
    empresa_id uuid,
    fecha_autorizacion timestamp with time zone,
    autorizada_por text,
    codven_erp smallint
);


--
-- Name: proforma_detalle; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE billenniumpedidos.proforma_detalle (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    proforma_id uuid,
    articulo_id text NOT NULL,
    descripcion text NOT NULL,
    cantidad numeric NOT NULL,
    precio numeric NOT NULL,
    costo numeric NOT NULL,
    subtotal numeric NOT NULL,
    utilidad_porcentaje numeric DEFAULT 0,
    created_at timestamp with time zone DEFAULT now(),
    empresa_id uuid NOT NULL,
    tasa_iva numeric
);


--
-- Name: vendedores; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE billenniumpedidos.vendedores (
    id text NOT NULL,
    nombre text NOT NULL,
    email text,
    activo boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    telefono text,
    empresa_id uuid,
    is_admin boolean DEFAULT false,
    user_id uuid,
    codven_erp smallint,
    is_office boolean DEFAULT false
);


--
-- Name: articulos articulos_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY billenniumpedidos.articulos
    ADD CONSTRAINT articulos_pkey PRIMARY KEY (id, empresa_id);


--
-- Name: chat_messages chat_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY billenniumpedidos.chat_messages
    ADD CONSTRAINT chat_messages_pkey PRIMARY KEY (id);


--
-- Name: chat_rooms chat_rooms_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY billenniumpedidos.chat_rooms
    ADD CONSTRAINT chat_rooms_pkey PRIMARY KEY (id);


--
-- Name: chat_rooms chat_rooms_vendedor_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY billenniumpedidos.chat_rooms
    ADD CONSTRAINT chat_rooms_vendedor_id_key UNIQUE (vendedor_id);


--
-- Name: clientes clientes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY billenniumpedidos.clientes
    ADD CONSTRAINT clientes_pkey PRIMARY KEY (ruc);


--
-- Name: empresas empresas_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY billenniumpedidos.empresas
    ADD CONSTRAINT empresas_pkey PRIMARY KEY (id);


--
-- Name: empresas empresas_ruc_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY billenniumpedidos.empresas
    ADD CONSTRAINT empresas_ruc_key UNIQUE (ruc);


--
-- Name: ic_facturacab ic_facturacab_cfac_numero_cfac_tipo_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY billenniumpedidos.ic_facturacab
    ADD CONSTRAINT ic_facturacab_cfac_numero_cfac_tipo_key UNIQUE (cfac_numero, cfac_tipo);


--
-- Name: ic_facturacab ic_facturacab_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY billenniumpedidos.ic_facturacab
    ADD CONSTRAINT ic_facturacab_pkey PRIMARY KEY (ic_id);


--
-- Name: ic_facturadet ic_facturadet_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY billenniumpedidos.ic_facturadet
    ADD CONSTRAINT ic_facturadet_pkey PRIMARY KEY (icdet_id);


--
-- Name: pedido_cabecera pedido_cabecera_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY billenniumpedidos.pedido_cabecera
    ADD CONSTRAINT pedido_cabecera_pkey PRIMARY KEY (id);


--
-- Name: pedido_detalle pedido_detalle_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY billenniumpedidos.pedido_detalle
    ADD CONSTRAINT pedido_detalle_pkey PRIMARY KEY (id);


--
-- Name: proforma_cabecera proforma_cabecera_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY billenniumpedidos.proforma_cabecera
    ADD CONSTRAINT proforma_cabecera_pkey PRIMARY KEY (id);


--
-- Name: proforma_detalle proforma_detalle_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY billenniumpedidos.proforma_detalle
    ADD CONSTRAINT proforma_detalle_pkey PRIMARY KEY (id);


--
-- Name: vendedores vendedores_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY billenniumpedidos.vendedores
    ADD CONSTRAINT vendedores_pkey PRIMARY KEY (id);


--
-- Name: idx_articulos_descripcion; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_articulos_descripcion ON billenniumpedidos.articulos USING btree (descripcion);


--
-- Name: idx_articulos_empresa_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_articulos_empresa_id ON billenniumpedidos.articulos USING btree (empresa_id);


--
-- Name: idx_clientes_ruc; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_clientes_ruc ON billenniumpedidos.clientes USING btree (ruc);


--
-- Name: idx_pedido_cabecera_autorizada_por; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_pedido_cabecera_autorizada_por ON billenniumpedidos.pedido_cabecera USING btree (autorizada_por);


--
-- Name: idx_pedido_cabecera_cliente_ruc; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_pedido_cabecera_cliente_ruc ON billenniumpedidos.pedido_cabecera USING btree (cliente_ruc);


--
-- Name: idx_pedido_cabecera_empresa; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_pedido_cabecera_empresa ON billenniumpedidos.pedido_cabecera USING btree (empresa_id);


--
-- Name: idx_pedido_cabecera_empresa_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_pedido_cabecera_empresa_id ON billenniumpedidos.pedido_cabecera USING btree (empresa_id);


--
-- Name: idx_pedido_cabecera_estado; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_pedido_cabecera_estado ON billenniumpedidos.pedido_cabecera USING btree (estado);


--
-- Name: idx_pedido_cabecera_vendedor; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_pedido_cabecera_vendedor ON billenniumpedidos.pedido_cabecera USING btree (vendedor_id);


--
-- Name: idx_pedido_detalle_articulo_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_pedido_detalle_articulo_id ON billenniumpedidos.pedido_detalle USING btree (articulo_id, empresa_id);


--
-- Name: idx_pedido_detalle_pedido; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_pedido_detalle_pedido ON billenniumpedidos.pedido_detalle USING btree (pedido_id);


--
-- Name: idx_pedidos_empresa; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_pedidos_empresa ON billenniumpedidos.pedido_cabecera USING btree (empresa_id);


--
-- Name: idx_pedidos_estado; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_pedidos_estado ON billenniumpedidos.pedido_cabecera USING btree (estado);


--
-- Name: idx_pedidos_fecha; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_pedidos_fecha ON billenniumpedidos.pedido_cabecera USING btree (created_at);


--
-- Name: idx_proforma_cabecera_autorizada_por; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_proforma_cabecera_autorizada_por ON billenniumpedidos.proforma_cabecera USING btree (autorizada_por);


--
-- Name: idx_proforma_cabecera_cliente_ruc; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_proforma_cabecera_cliente_ruc ON billenniumpedidos.proforma_cabecera USING btree (cliente_ruc);


--
-- Name: idx_proforma_cabecera_created; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_proforma_cabecera_created ON billenniumpedidos.proforma_cabecera USING btree (created_at);


--
-- Name: idx_proforma_cabecera_empresa_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_proforma_cabecera_empresa_id ON billenniumpedidos.proforma_cabecera USING btree (empresa_id);


--
-- Name: idx_proforma_cabecera_estado; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_proforma_cabecera_estado ON billenniumpedidos.proforma_cabecera USING btree (estado);


--
-- Name: idx_proforma_cabecera_sincronizada; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_proforma_cabecera_sincronizada ON billenniumpedidos.proforma_cabecera USING btree (sincronizada);


--
-- Name: idx_proforma_cabecera_vendedor; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_proforma_cabecera_vendedor ON billenniumpedidos.proforma_cabecera USING btree (vendedor_id);


--
-- Name: idx_proforma_detalle_articulo_empresa; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_proforma_detalle_articulo_empresa ON billenniumpedidos.proforma_detalle USING btree (articulo_id, empresa_id);


--
-- Name: idx_proforma_detalle_proforma_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_proforma_detalle_proforma_id ON billenniumpedidos.proforma_detalle USING btree (proforma_id);


--
-- Name: idx_vendedores_empresa_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_vendedores_empresa_id ON billenniumpedidos.vendedores USING btree (empresa_id);


--
-- Name: vendedores protect_admin_privileges; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER protect_admin_privileges BEFORE UPDATE ON billenniumpedidos.vendedores FOR EACH ROW EXECUTE FUNCTION billenniumpedidos.prevent_admin_modification();


--
-- Name: clientes update_clientes_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_clientes_updated_at BEFORE UPDATE ON billenniumpedidos.clientes FOR EACH ROW EXECUTE FUNCTION billenniumpedidos.update_updated_at_column();


--
-- Name: empresas update_empresas_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_empresas_updated_at BEFORE UPDATE ON billenniumpedidos.empresas FOR EACH ROW EXECUTE FUNCTION billenniumpedidos.update_updated_at_column();


--
-- Name: pedido_cabecera update_pedido_cabecera_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_pedido_cabecera_updated_at BEFORE UPDATE ON billenniumpedidos.pedido_cabecera FOR EACH ROW EXECUTE FUNCTION billenniumpedidos.update_updated_at_column();


--
-- Name: proforma_cabecera update_proforma_cabecera_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_proforma_cabecera_updated_at BEFORE UPDATE ON billenniumpedidos.proforma_cabecera FOR EACH ROW EXECUTE FUNCTION billenniumpedidos.update_updated_at_column();


--
-- Name: vendedores update_vendedores_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_vendedores_updated_at BEFORE UPDATE ON billenniumpedidos.vendedores FOR EACH ROW EXECUTE FUNCTION billenniumpedidos.update_updated_at_column();


--
-- Name: chat_messages chat_messages_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY billenniumpedidos.chat_messages
    ADD CONSTRAINT chat_messages_room_id_fkey FOREIGN KEY (room_id) REFERENCES billenniumpedidos.chat_rooms(id) ON DELETE CASCADE;


--
-- Name: chat_messages chat_messages_sender_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY billenniumpedidos.chat_messages
    ADD CONSTRAINT chat_messages_sender_id_fkey FOREIGN KEY (sender_id) REFERENCES billenniumpedidos.vendedores(id);


--
-- Name: chat_rooms chat_rooms_empresa_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY billenniumpedidos.chat_rooms
    ADD CONSTRAINT chat_rooms_empresa_id_fkey FOREIGN KEY (empresa_id) REFERENCES billenniumpedidos.empresas(id) ON DELETE CASCADE;


--
-- Name: chat_rooms chat_rooms_vendedor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY billenniumpedidos.chat_rooms
    ADD CONSTRAINT chat_rooms_vendedor_id_fkey FOREIGN KEY (vendedor_id) REFERENCES billenniumpedidos.vendedores(id) ON DELETE CASCADE;


--
-- Name: clientes clientes_empresa_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY billenniumpedidos.clientes
    ADD CONSTRAINT clientes_empresa_id_fkey FOREIGN KEY (empresa_id) REFERENCES billenniumpedidos.empresas(id);


--
-- Name: ic_facturadet fk_icdet_iccab; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY billenniumpedidos.ic_facturadet
    ADD CONSTRAINT fk_icdet_iccab FOREIGN KEY (ic_id) REFERENCES billenniumpedidos.ic_facturacab(ic_id);


--
-- Name: pedido_cabecera pedido_cabecera_autorizada_por_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY billenniumpedidos.pedido_cabecera
    ADD CONSTRAINT pedido_cabecera_autorizada_por_fkey FOREIGN KEY (autorizada_por) REFERENCES billenniumpedidos.vendedores(id);


--
-- Name: pedido_cabecera pedido_cabecera_cliente_ruc_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY billenniumpedidos.pedido_cabecera
    ADD CONSTRAINT pedido_cabecera_cliente_ruc_fkey FOREIGN KEY (cliente_ruc) REFERENCES billenniumpedidos.clientes(ruc);


--
-- Name: pedido_cabecera pedido_cabecera_empresa_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY billenniumpedidos.pedido_cabecera
    ADD CONSTRAINT pedido_cabecera_empresa_id_fkey FOREIGN KEY (empresa_id) REFERENCES billenniumpedidos.empresas(id);


--
-- Name: pedido_cabecera pedido_cabecera_vendedor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY billenniumpedidos.pedido_cabecera
    ADD CONSTRAINT pedido_cabecera_vendedor_id_fkey FOREIGN KEY (vendedor_id) REFERENCES billenniumpedidos.vendedores(id);


--
-- Name: pedido_detalle pedido_detalle_pedido_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY billenniumpedidos.pedido_detalle
    ADD CONSTRAINT pedido_detalle_pedido_id_fkey FOREIGN KEY (pedido_id) REFERENCES billenniumpedidos.pedido_cabecera(id) ON DELETE CASCADE;


--
-- Name: proforma_cabecera proforma_cabecera_autorizada_por_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY billenniumpedidos.proforma_cabecera
    ADD CONSTRAINT proforma_cabecera_autorizada_por_fkey FOREIGN KEY (autorizada_por) REFERENCES billenniumpedidos.vendedores(id);


--
-- Name: proforma_cabecera proforma_cabecera_cliente_ruc_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY billenniumpedidos.proforma_cabecera
    ADD CONSTRAINT proforma_cabecera_cliente_ruc_fkey FOREIGN KEY (cliente_ruc) REFERENCES billenniumpedidos.clientes(ruc);


--
-- Name: proforma_cabecera proforma_cabecera_empresa_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY billenniumpedidos.proforma_cabecera
    ADD CONSTRAINT proforma_cabecera_empresa_id_fkey FOREIGN KEY (empresa_id) REFERENCES billenniumpedidos.empresas(id);


--
-- Name: proforma_cabecera proforma_cabecera_vendedor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY billenniumpedidos.proforma_cabecera
    ADD CONSTRAINT proforma_cabecera_vendedor_id_fkey FOREIGN KEY (vendedor_id) REFERENCES billenniumpedidos.vendedores(id);


--
-- Name: proforma_detalle proforma_detalle_proforma_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY billenniumpedidos.proforma_detalle
    ADD CONSTRAINT proforma_detalle_proforma_id_fkey FOREIGN KEY (proforma_id) REFERENCES billenniumpedidos.proforma_cabecera(id) ON DELETE CASCADE;


--
-- Name: vendedores vendedores_empresa_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY billenniumpedidos.vendedores
    ADD CONSTRAINT vendedores_empresa_id_fkey FOREIGN KEY (empresa_id) REFERENCES billenniumpedidos.empresas(id);


--
-- Name: articulos; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE billenniumpedidos.articulos ENABLE ROW LEVEL SECURITY;

--
-- Name: articulos articulos_all_policy; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY articulos_all_policy ON billenniumpedidos.articulos TO authenticated USING ((empresa_id = billenniumpedidos.get_my_empresa_id())) WITH CHECK ((empresa_id = billenniumpedidos.get_my_empresa_id()));


--
-- Name: chat_messages; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE billenniumpedidos.chat_messages ENABLE ROW LEVEL SECURITY;

--
-- Name: chat_rooms; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE billenniumpedidos.chat_rooms ENABLE ROW LEVEL SECURITY;

--
-- Name: clientes; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE billenniumpedidos.clientes ENABLE ROW LEVEL SECURITY;

--
-- Name: clientes clientes_all_policy; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY clientes_all_policy ON billenniumpedidos.clientes TO authenticated USING (((empresa_id = billenniumpedidos.get_my_empresa_id()) OR (empresa_id IS NULL))) WITH CHECK (((empresa_id = billenniumpedidos.get_my_empresa_id()) OR (empresa_id IS NULL)));


--
-- Name: empresas; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE billenniumpedidos.empresas ENABLE ROW LEVEL SECURITY;

--
-- Name: empresas empresas_select_all; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY empresas_select_all ON billenniumpedidos.empresas FOR SELECT TO authenticated USING (true);


--
-- Name: ic_facturacab; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE billenniumpedidos.ic_facturacab ENABLE ROW LEVEL SECURITY;

--
-- Name: ic_facturadet; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE billenniumpedidos.ic_facturadet ENABLE ROW LEVEL SECURITY;

--
-- Name: chat_messages messages_delete_office; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY messages_delete_office ON billenniumpedidos.chat_messages FOR DELETE TO authenticated USING ((billenniumpedidos.is_office() AND (EXISTS ( SELECT 1
   FROM billenniumpedidos.chat_rooms r
  WHERE ((r.id = chat_messages.room_id) AND (r.empresa_id = billenniumpedidos.get_my_empresa_id()))))));


--
-- Name: chat_messages messages_insert_all; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY messages_insert_all ON billenniumpedidos.chat_messages FOR INSERT TO authenticated WITH CHECK ((sender_id = (auth.uid())::text));


--
-- Name: chat_messages messages_insert_office; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY messages_insert_office ON billenniumpedidos.chat_messages FOR INSERT TO authenticated WITH CHECK ((billenniumpedidos.is_office() AND (EXISTS ( SELECT 1
   FROM billenniumpedidos.chat_rooms r
  WHERE ((r.id = chat_messages.room_id) AND (r.empresa_id = billenniumpedidos.get_my_empresa_id()))))));


--
-- Name: chat_messages messages_select_admin; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY messages_select_admin ON billenniumpedidos.chat_messages FOR SELECT TO authenticated USING (billenniumpedidos.is_admin());


--
-- Name: chat_messages messages_select_all_office; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY messages_select_all_office ON billenniumpedidos.chat_messages FOR SELECT TO authenticated USING ((billenniumpedidos.is_office() AND (EXISTS ( SELECT 1
   FROM billenniumpedidos.chat_rooms r
  WHERE ((r.id = chat_messages.room_id) AND (r.empresa_id = billenniumpedidos.get_my_empresa_id()))))));


--
-- Name: chat_messages messages_select_oficina; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY messages_select_oficina ON billenniumpedidos.chat_messages FOR SELECT TO authenticated USING ((EXISTS ( SELECT 1
   FROM billenniumpedidos.chat_rooms r
  WHERE ((r.id = chat_messages.room_id) AND (r.empresa_id = billenniumpedidos.get_my_empresa_id())))));


--
-- Name: chat_messages messages_select_vendedor; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY messages_select_vendedor ON billenniumpedidos.chat_messages FOR SELECT TO authenticated USING (((sender_id = (auth.uid())::text) OR (EXISTS ( SELECT 1
   FROM billenniumpedidos.chat_rooms r
  WHERE ((r.id = chat_messages.room_id) AND (r.vendedor_id = (auth.uid())::text))))));


--
-- Name: pedido_cabecera pedido_all_policy; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY pedido_all_policy ON billenniumpedidos.pedido_cabecera TO authenticated USING ((billenniumpedidos.is_admin() OR (vendedor_id = (auth.uid())::text))) WITH CHECK ((billenniumpedidos.is_admin() OR (vendedor_id = (auth.uid())::text)));


--
-- Name: pedido_cabecera; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE billenniumpedidos.pedido_cabecera ENABLE ROW LEVEL SECURITY;

--
-- Name: pedido_detalle; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE billenniumpedidos.pedido_detalle ENABLE ROW LEVEL SECURITY;

--
-- Name: pedido_detalle pedido_detalle_all; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY pedido_detalle_all ON billenniumpedidos.pedido_detalle TO authenticated USING ((billenniumpedidos.is_admin() OR (empresa_id = billenniumpedidos.get_my_empresa_id())));


--
-- Name: pedido_cabecera pedidos_select_office; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY pedidos_select_office ON billenniumpedidos.pedido_cabecera FOR SELECT TO authenticated USING ((EXISTS ( SELECT 1
   FROM billenniumpedidos.vendedores v
  WHERE ((v.id = (auth.uid())::text) AND (v.is_office = true) AND (v.empresa_id = pedido_cabecera.empresa_id)))));


--
-- Name: proforma_cabecera proforma_all_policy; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY proforma_all_policy ON billenniumpedidos.proforma_cabecera TO authenticated USING ((billenniumpedidos.is_admin() OR (vendedor_id = (auth.uid())::text))) WITH CHECK ((billenniumpedidos.is_admin() OR (vendedor_id = (auth.uid())::text)));


--
-- Name: proforma_cabecera; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE billenniumpedidos.proforma_cabecera ENABLE ROW LEVEL SECURITY;

--
-- Name: proforma_detalle; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE billenniumpedidos.proforma_detalle ENABLE ROW LEVEL SECURITY;

--
-- Name: proforma_detalle proforma_detalle_all; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY proforma_detalle_all ON billenniumpedidos.proforma_detalle TO authenticated USING ((billenniumpedidos.is_admin() OR (empresa_id = billenniumpedidos.get_my_empresa_id())));


--
-- Name: chat_rooms rooms_insert_oficina; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY rooms_insert_oficina ON billenniumpedidos.chat_rooms FOR INSERT TO authenticated WITH CHECK (((empresa_id = billenniumpedidos.get_my_empresa_id()) AND billenniumpedidos.is_office()));


--
-- Name: chat_rooms rooms_insert_vendedor; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY rooms_insert_vendedor ON billenniumpedidos.chat_rooms FOR INSERT TO authenticated WITH CHECK ((vendedor_id = (auth.uid())::text));


--
-- Name: chat_rooms rooms_select_admin; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY rooms_select_admin ON billenniumpedidos.chat_rooms FOR SELECT TO authenticated USING (billenniumpedidos.is_admin());


--
-- Name: chat_rooms rooms_select_all_office; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY rooms_select_all_office ON billenniumpedidos.chat_rooms FOR SELECT TO authenticated USING ((billenniumpedidos.is_office() AND (empresa_id = billenniumpedidos.get_my_empresa_id())));


--
-- Name: chat_rooms rooms_select_oficina; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY rooms_select_oficina ON billenniumpedidos.chat_rooms FOR SELECT TO authenticated USING ((empresa_id = billenniumpedidos.get_my_empresa_id()));


--
-- Name: chat_rooms rooms_select_vendedor; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY rooms_select_vendedor ON billenniumpedidos.chat_rooms FOR SELECT TO authenticated USING ((vendedor_id = (auth.uid())::text));


--
-- Name: vendedores; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE billenniumpedidos.vendedores ENABLE ROW LEVEL SECURITY;

--
-- Name: vendedores vendedores_delete; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY vendedores_delete ON billenniumpedidos.vendedores FOR DELETE TO authenticated USING (billenniumpedidos.is_admin());


--
-- Name: vendedores vendedores_insert; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY vendedores_insert ON billenniumpedidos.vendedores FOR INSERT TO authenticated WITH CHECK (billenniumpedidos.is_admin());


--
-- Name: vendedores vendedores_select; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY vendedores_select ON billenniumpedidos.vendedores FOR SELECT TO authenticated USING (true);


--
-- Name: vendedores vendedores_update; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY vendedores_update ON billenniumpedidos.vendedores FOR UPDATE TO authenticated USING (billenniumpedidos.is_admin()) WITH CHECK (billenniumpedidos.is_admin());


--
-- PostgreSQL database dump complete
--

-- \unrestrict 8kWEOMCMoYRR7ahihU9GZtefmKwLqEwaG0zMTjht0zusijKp2aaK4DL52KCVwFq

